<h1>Motorcycle Brands</h1>

<hr>

<h2>Overview:</h2>
<% @brands.each do |brand| %>
  <p><%= link_to brand.name, brand_path(brand) %></p>
  <p>Founded: <%= brand.year_of_founding %></p>
  <%= image_tag brand.logo.thumbnail %>
<% end %>

<hr>

<h2>Missing a brand?</h2>
<p>Add your missing brand below:</p>

<%= render 'form' %>
